<div class="user-bar" style="float: left; height: 11px;"><button (click)="goBack()">go back</button><button (click) = "filter()">Filter</button></div>
<div *ngIf="this.filterState" style="float: right; height: 10px;">
    <form (ngSubmit)="updateResults">
        <select id="searchType" name="id" value="id" (change)="changeOrder($event.target.value)">
            <option value = "desc">Newest</option>
            <option value = "asc">Oldest</option>
        </select>
        <input type = "text" name= "search" placeholder="search">
        <input type = "submit" value= "Search" (click)= "search(search)">
    </form></div>