<p>
<B style = "text-align:center">Welcome to the Pit!</B>


<br>
    <img src = "assets/images/boar.png" style = "width: 50% ;height: 50%; align-content: center" />  
    <!-- I have this nice boar image because I have no clue how to actually spell and thought bore = boar. I was wrong, but went with it anyway. -->
    <!-- Yes... The boar idea is actually pretty great, imo. I think a little boar mascot could be great - brian -->

    <br>
    <b> A Social Media platform where you can remain anonymous with every post you moake on the BorePit site.  </b>

<br>
In a new age where many social media networking websites are being created, users are finding themselves unable to access the more refined
 elements of social networking while remaining anonymous online.  With BorePit, that is no longer.
 <br>
 Borepit brings a hassle-free/no sign-up social media experience to our users.