<div class="jumbotron text-center" >
<p>
<B style = "text-align:center; font-family: 'Amatic SC',cursive;font-size: 4em">Welcome to the Pit!</B>
<br>
    <b style = "text-align:center; font-family: 'Amatic SC',cursive;font-size: 2em"> A Social Media platform where you can remain anonymous with every post you make on the BorePit site.  </b>
    <br>
<br>
<br>
    <img src = "assets/images/boar.png" style = "width: 25% ;height: 25%; align-content: center" />  
    <!-- I have this nice boar image because I have no clue how to actually spell and thought bore = boar. I was wrong, but went with it anyway. -->
    <!-- Yes... The boar idea is actually pretty great, imo. I think a little boar mascot could be great - brian -->

<p style = "text-align:center; font-family: 'Amatic SC',cursive;font-size: 2em; width:100%; align-content: center" >In a new age where many social media networking websites are being created,
   users are finding themselves unable to access the more refined
    elements of social networking while remaining anonymous online.  With BorePit, that is no longer.  Borepit brings a hassle-free/no sign-up social media experience to our users. </p>

 
</div>