<div class = "card">
  <div class = "card-content">
    <span class="card-title">Create Thread!</span>
    <form (ngSubmit) = onSubmit() class="col s6">
      <div class= "row">
        <div class = "input-field col s6">
          <label for ="title">Title:</label><br> 
          <input type="text" placeholder ="Add Title" [(ngModel)] = 'thrd.Title' name = 'Title'>
        </div>
      
      
      </div>
      <div class= "row">
          <div class = "form-group">
              <label for = "sel1">Select Category:</label>
              <select class="form-control" [(ngModel)] = 'thrd.Category' id="sel1" name = 'category'>
                <option>Science</option>
                <option>Technology</option>
              </select>
            </div>
      </div>
      <div class = "row">
          <div class = "form-group">
              <label for ="content">Content:</label><br>
              <textarea class="form-control" rows="5" placeholder ="Add Content" [(ngModel)] = 'thrd.Content' name = 'content'></textarea>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
  </div>
</div>