header {
    background-color: rgb(31, 31, 31);
    text-align: center;
    border-radius:10px;
}


body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    min-height: 100%;
    width:100%;
    padding: 0px;
    background-color: red;
}

#window
{
    border: 1px solid #111111;
    border-radius: 10px;
}

#leftcolumn {
    float: left;
    width: 150px;
    max-height: 600px;
    border: 1px solid #111111;
    border-radius: 10px;
    background-color : rgb(147, 148, 147);

}
#rightcolumn {
    border: 1px solid #111111;
    min-height: 600px;
    max-height: 800px;
    border-radius: 10px;
    background-color : rgb(175, 147, 147);
    margin-left: 155px;
}
#usermenu {
    border: 1px solid #111111;
    border-radius: 10px;
    background-color: rgb(115, 122, 165);
    height: 50px;
}
#usercontent {
    border: 1px solid #111111;
    border-radius: 10px;
    background-color: rgb(129, 165, 115);
    min-height:540px;
    max-height:740px;
    overflow-y: scroll;
}