<div *ngIf="threadDeleted == false; else noThread">
<p>
{{currentThread.Title}}
<br>
{{currentThread.DateTime.seconds*1000 | date:'yyyy/MM/dd h:mm:ss a'}}
<br>
{{currentThread.Category}}
<br>
{{currentThread.Content}}
<br><br><button (click) = "deleteThread(currentThread)">Delete thread!</button>
</p>

</div>

<ng-template #noThread>
    <hr>
    <h5 style = "text-align:center; font-family: 'Amatic SC',cursive; width:100%; font-size: 4em">404, thread not found, redirecting <br><div class="spinner-border text-secondary" ></div></h5>
</ng-template>